{{> header}}

<div class="offer-details">
    <h1>{{offer.brand}} {{offer.productName}}</h1>
    <div class="info">
        <img src="{{offer.imageUrl}}" alt="">
        <div class="description">{{offer.description}}
            <br>
            <br>
            <p class="price">${{offer.price}}</p>
        </div>
    </div>
    <div class="actions">
        {{#if offer.imTheSalesman}}
        <a>Edit</a>
        <a>Delete</a>
        {{else}}
        <a>Buy</a>
        {{/if}}
        <span>You bought it</span>
    </div>
</div>

{{> footer}}